# Configuration data for the Station Prediction Model editor
#
#  model_dir is the directory in which models are located

model_file        models/{code}_spm.xml
model_backup_file models/{code}_spm.xml.{fdatetime}.backup

timeseries_file   timeseries/{code}_igs08_xyz.dat

